@import url('https://fonts.googleapis.com/css2?family=roboto&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft";
    gap: .5rem;
}

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
    grid-area: hd;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
}

.footer {
    grid-area: ft;
}

.container {
    min-height: 400px; /* now You can see each height is 200 */
    display: grid; /* vertical */
    grid-auto-flow: row; /* default */
    /* grid-auto-flow: column; */

    /* shortcut */
    /* grid-template-columns; 2fr 1fr 1fr; */
    /* grid-template-columns: 200px 100px 200px; */
    /* grid-template-columns: 2fr 1fr 1fr; /1* fraction perbandingan / ratio *1/ */
    /* grid-template-columns: 200px 1fr 1fr; /1* can combined with px too *1/ */
    /* grid-template-columns: repeat(4,1fr); /1* 4 columns with ratio 1:1, grid can have an empty space *1/ */
    grid-template-columns: repeat(2, 1fr 2fr); /* 2 columns repeat 1 fraction 2fraction until last */

    grid-auto-rows: 200px; /* rows height 200px */
    grid-auto-rows: minmax(150px, auto); /* CSS function, each columns can be more than 150px. if each the total height is higher than 150 multiplication, the rest will grow for each e.g. 400px so It will set to 200 each*/

    /* gutter */
    /* row-gap: 1em; /1* gap each row *1/ */
    /* column-gap: 1em; /1* gap each column *1/ */
    /* gap: 1em; /1* row and column gap combined *1/ */
    /* gap: 1em 2em; /1* row, column *1/ */
    gap: 1rem;

    grid-area: mn;
}

.box {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {
    background-color: #00f;

    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */

    /* shorthand (start / end) */
    grid-column: 1 / 4;
    grid-row: 1 / 3;

    display: grid;
    /* align-content: center; */
    /* justify-content: center; */

    /* shorthand (align-content justify-content) */
    place-content: end center;
    /* both are center */
    place-content: center;
}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1 / 5;
    grid-row: 3 / 4; /* It makes the number 3 and 4 go to the top since the number 2  start with row 3 and ands in 4; */
}
