@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Begin reset */
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}
/* End Utility Classes */


body {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
}


.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('scenic-2200x1331.png');
    background-size: 100%;
    text-transform: uppercase;
    background-clip: text; /* to enable in Firefox or any unsupported browser */
    -webkit-background-clip: text; /* hide the background  */
    color: transparent; /* p is transparent so It will show scenic as "background color" */
}
