@import url('https://fonts.googleapis.com/css2?family=roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: "roboto", sans-serif;
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem; /* fill the gap */
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2{
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}

li a {
    /* now the element is the surround (not only in the text) */
    display: block; 
    color: #333;
}

/* multiple sudo class separation this way */
li a:hover,
li a:focus {
    color: whitesmoke;
    background: #333;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem; /* following the border radius of list items so It not seems out of bounds */
}
