* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card .heading {
    text-transform: capitalize;
}

.card {
    padding: 20px;
    border: 2px solid purple;
    margin: 30px;
}
.card .summary {
    font-size: 1.5rem;
}
.card button {
    padding: 30px 60px;
    font-size: 1.5rem;
    border: none;
    background-color: lightgray;
}
.card button:is(:hover, :focus) {
    background-color: darkkhaki;
}

/* css-nesting same as 'card' above */
.card2 {
    padding: 20px;
    border: 2px solid purple;
    margin: 30px;

    & .heading { /* & meaning still in .card2 .heading*/
        text-transform: capitalize;
    }

    & .summary {
        font-size: 1.5rem;
    }

    & button {
        padding: 30px 60px;
        font-size: 1.5rem;
        border: none;
        background-color: lightgray;
    }

    & button:is(:hover, :focus) {
        background-color: darkkhaki;
    }
}
