@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* a { */
/*     text-decoration: none; /1* default is underline *1/ */
/*     /1* cursor: not-allowed; /2* default is pointer, but You still can go to that link *2/ *1/ */
/*     cursor: pointer; */
/*     color: blue; /1* links has their own color not just blue, so It will override the value *1/ */
/* } */

a {
    color: #000;
}

a:visited { /* has visited the links */
    color: purple;
}

a:hover, a:focus { /* cursor is above the links */
    color: dodgerblue; /* focus is When You use tab button to go each links */
    opacity: .8; /* same as below */
    /* color: hsl(207, 44%, 49%, 0.8); */
    background: gold;
}

a:active { /* hold the links */
    color: green;
}
