* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 35px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: #fff;
    padding: 15px 20px;
}

.header-image {
    height: 100%;
    margin-right: 6px;
}

.header-title {
    font-size: .75rem;
    margin-right: auto;
}

.header-project {
    font-size: 12px;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr ; /* separate into two */
    gap: 17px;
}

.form-input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 7px; /* indent the placeholder */
}

.form-button {
    grid-column: 1 / -1; /*  this rule ensures that the element occupies the entire width of its grid container. */
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.4deg, #711F8D 1.14%, #A818DA 100%);
    color: #fff;
    border: none;
    cursor: pointer;
}

.meme-image {
    max-width: 100%;
}
